@media screen and (max-width: 650px) {
  .masthead-content-title {
    font-size: 32px;
    line-height: 44px;
  }
  .masthead-description {
    width: 100%;
  }
  .masthead-contact {
    width: 100%;
  }
  .masthead-input-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .photo-grid-title {
    font-size: 24px;
    line-height: 32px;
  }
  .photo-grid-item-container {
    display: none;
  }
  .photo-grid-title-container {
    margin-top: 0;
  }
  .photo-grid-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .photo-grid-content div:nth-child(2) {
    order: unset;
  }
  .testimonial-slider-item {
    position: relative;
    padding-top: 90px;
  }
  .slider-item-image {
    position: absolute;
    z-index: 10;
    width: 180px;
    height: 180px;
    top: 0px;
    left: 32px;
    margin-right: 0;
  }
  .slider-item-image img {
    border-radius: 8px 8px 0 0;
  }
  .slider-item-content-container {
    border-radius: 8px;
  }

  .slider-item-content {
    padding: 146px 32px 72px;
  }

  #organize-section {
    padding-top: 50px;
  }
  .organized-content {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 84px;
  }
  .organized-content div {
    width: calc(100%);
  }
  .organized-boxed {
    grid-template-columns: repeat(1, 1fr);
  }
  .organized-title {
    font-size: 24px;
    line-height: 32px;
  }
  .organized-title br {
    display: block;
  }
  .masthead-header.mobile {
    display: block;
  }
  .masthead-header.desktop {
    display: none;
  }
  .masthead-container {
    align-items: center;
  }
  .header-menu-contact {
    width: 100%;
  }
  #mobile-menu {
    display: block;
  }
  .mobile-menu {
    background: var(--color-dark_green);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: all 0.3s ease;
    transform: translateX(200vw);
  }
  .mobile-menu.active {
    transform: translateX(0);
  }
  .header-menu-item {
    width: 100%;
  }
  .mobile-menu-item {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 32px;
    color: #ffffffb2;
  }
  .mobile-menu-item.active {
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
  }
  .header-menu-contact {
    text-align: center;
    padding-top: 10px;
    width: fit-content;
    border-top: 1px solid var(--color-white);
    margin: 0 auto;
  }
  .mobile-menu-close {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .thankyou-container {
    width: 80%;
  }
  .organized-divider {
    flex-grow: 1;
    background: var(--color-grey);
    height: 1px;
    width: 50%;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-bottom: 15px;
  }
  .organized-title-container {
    align-items: flex-end;
  }
}
