:root {
  --color-light_green: #5bc8af;
  --color-green: #297c6b;
  --color-dark_green: #194d44;
  --color-black: #333333;
  --color-grey: #eaeaea;
  --color-red: #ff7777;
  --color-white: #ffffff;
  --color-white-bg: #f5f5f5;
}
