@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-main: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-ExtraBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Black.ttf");
  font-weight: 800;
}
