.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-60 {
  width: 60%;
}
.w-40 {
  width: 40%;
}

.hidden {
  display: none;
}

.h-fit {
  height: fit-content;
}

.h-full {
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.grid {
  display: grid;
}
