#footer {
  padding: 38px 0;
}

.footer-container {
  font-size: 14px;
  line-height: 14px;
  color: #757575;
}

.footer-link a {
  padding: 0px 10px;
  border-right: 1px solid #757575;
}

.footer-link a:last-child {
  border-right: none;
}
