#masthead-section {
  background: url("../public/images/masthead.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  height: 650px;
  margin-bottom: 80px;
  position: relative;
}

.masthead-description {
  font-size: 14px;
  padding-right: 100px;
}

.masthead-header {
  padding-top: 20.5px;
}

.masthead-wave {
  bottom: 0;
}

.masthead-first-wave {
  bottom: -2px;
  position: absolute;
}

.masthead-second-wave {
  bottom: 0;
  position: absolute;
}

.masthead-content-title {
  font-size: 64px;
  line-height: 72px;
}

.masthead-description {
  color: var(--color-white);
}

.masthead-contact-container {
  padding: 51px 28px 56px;
  border-radius: 12px;
  background: linear-gradient(180deg, #2a7d6c 0%, #3e69609e 100%);
}

.masthead-contact-container h1 {
  text-align: center;
  color: var(--color-white);
  font-weight: 600;
  margin-bottom: 34px;
}

.masthead-input-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.masthead-contact-button {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 41px;
}
